*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(45deg,rgb(95, 161, 153),rgb(248, 225, 46));
    }

header{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-style: italic;
    font-size: 4em;
    font-weight: normal;
}

#headerImage{
    min-height: 21vh;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 35%;
}

nav{
    min-height: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 1;
}

nav a{
    display: inline;
    border: 2px solid black;

    padding: 5px 20px;
    background-color: rgb(68 , 114, 196);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem; 
    box-shadow: 3px 3px 0px rgb(198, 72, 50);
}

a[href="#"]{
    background-color: rgb(112, 173, 71) ;
    color: rgb(255, 255, 255);
}

main{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}

section{
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}  

.container{
    display: flex;
}

aside{
  display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
}

aside>img{
    width: 80%;
}

.sans-serif{
    font-family: sans-serif;
}

section>h3,article>h3{
    font-family: sans-serif;
    font-weight: normal;
}

article{
  padding: 50px;
    font-size: 1.5rem;
    width: 80%;
}

.articleAbout{
    padding: 50px 100px 0 50px ;
    font-size: 1.3rem;
}

#articleRules{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}


section>h3{
    line-height: 2;
}

.dates{
    font-style: italic;
}

h4{
    text-indent: 40px;
    line-height: 3;
    font-weight: normal;
}

p{
    text-indent: 40px;
}

footer{
    min-height: 5vh;
    align-items: center;
}

/*.sans-serif>div li{*/
/*    list-style-position: inside;*/