*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body{
    /*outline: 1px solid red;*/
    width: 80%;
    margin-left: 10%;
    }

header{
    /*outline: 1px solid red;*/
    height: 22vh;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 35%;
    margin-top: 9.5vh;
}

h1 {
    /*outline: 1px solid red;*/
    position: absolute;
    top: 5px;
    font-style: italic;
    font-size: 4em;
    font-weight: normal;
}

nav{
    /*outline: 1px solid red;*/
    position: absolute;
    top: 80px;  
    right: 15%;
}

nav a{
    display: inline;
    border: 2px solid black;
    padding: 5px 20px;
    background-color: rgb(68 , 114, 196);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem; 
    box-shadow: 3px 3px 0px rgb(153, 153, 153);
}

a[href="#"]{
    background-color: rgb(112, 173, 71) ;
    color: rgb(255, 255, 255);
}

main{
    /*outline: 1px solid red;*/
    position: relative;
}

aside{
    /*outline: 1px solid red;*/
    display: inline-block;
    position: relative;
    width: 20%;
    left: 0;
    margin: 0;
    padding-top: 50px;
}

aside>img{
    /*outline: 1px solid darkred;*/
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

.logo{
    width: 60%;
}

section{
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

article{
    /*outline: 1px solid red;*/
    display: inline;
    position: absolute;
    padding: 50px;
    top: 50px;
    width: 80%;
    height: 90%;
    font-size: 1.5rem;
}

#articleAbout{
    padding: 50px 100px 0 50px ;
    font-size: 1.3rem;
}

h3{
    line-height: 2;
}

.dates{
    font-style: italic;
}

h4{
    text-indent: 40px;
    line-height: 3;
    font-weight: normal;
}

p{
    text-indent: 40px;
}

footer{
 
}