*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    /*outline: 1px solid aquamarine;*/
}

body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(45deg,rgb(95, 161, 153),rgb(248, 225, 46));
}

header{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-style: italic;
    font-size: 4em;
    font-weight: normal;
}

#headerImage{
    min-height: 21vh;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0 35%;
}

nav{
    min-height: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 1;
}

nav a{
    display: inline;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: rgb(68 , 114, 196);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem; 
    box-shadow: 3px 3px 0px rgb(198, 72, 50);
}

a[href="#"]{
    background-color: rgb(112, 173, 71) ;
    color: rgb(255, 255, 255);
}

main{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}

section{
    border: 1px solid black;
    display: inline-block;
    padding: 3px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}  

.container{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
}

aside>img{
    width: 80%;
}

.sans-serif, label, dd, dt ,.sans-serif>th,td, legend{
    font-family: sans-serif;
}

section>h3,article>h3{
    font-family: sans-serif;
    font-weight: normal;
} 

section>h3{
    line-height: 2;
}

article{
    padding: 50px;
    font-size: 1.5rem;
    width: 80%;
}

fieldset{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
}
#first_name, #last_name {
    width: 35%;
}

#streetaddress {
    width: 80%;
}

form *{
    margin: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.names_city{
    display: flex;
}

.gender, .grade{
    width: 50%;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: transparent;
    border-color: transparent;
    margin: .5rem;
}

.grade{
    width: 60%;
}
.articleAbout h3{
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1.5rem
}

.articleAbout p{
    font-family: sans-serif;
    margin-top: 1rem;
}

#articleRules *{
    font-size: 1.5rem;
    margin-top: .5rem;
}

#articleRules .sport{
    font-weight: bolder;
    margin-top: 1rem;
}

#allplay-li{
    text-indent: 10px;
    margin-left: 70px;
}

.table p{
    text-decoration: underline;
}

caption{
    caption-side: bottom;
    text-align: right;
    font-size: 10px;
    padding: .3rem;
}

th, td{
    padding: .6rem;
}

.table dt{
    font-weight: bolder;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.table dd{
    text-indent: 80px;
}

.dates{
    font-style: italic;
    font-weight: bolder;
    margin-top: 4rem;
}

ol>li, ul>li{
    list-style-position: inside;
}

h4{
    text-indent: 40px;
    line-height: 3;
    font-weight: normal;
}

p{
    text-indent: 80px;
}

.school_maps{
    width: 100%;
}

.table>h3 ,.school_maps>h3{
    font-weight: bolder;
}

.container2{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    border: 2px solid lightgrey;
    border-radius: 25px 0;
    background-color: ;
    box-shadow: 15px 15px 15px rgb(153, 153, 153);
}

.map{
    min-width: 360px;
    min-height: 200px;
}

.map div, .map iframe{
    width: 100%;
}

#e-signature{
    width: 40%;
}

#enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orangered ;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 15px 15px 15px rgb(153, 153, 153);

}

footer{
    min-height: 5vh;
    align-items: center;
}
